* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #202030;
  color: white;
}

header {
  padding: 1rem;
}

form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

form > div {
  display: flex;
  flex-direction: column;
}

main {
  padding: 1rem 5rem;
}

h1 {
  text-align: center;
  color: #e0d090;
}

input {
  max-height: 1.5rem;
}

.planet-card-list {
  display: flex;
  flex-direction: column;
}

.planet-card {
  margin: 0.5rem 0;
  background-color: #00000030;
  border-radius: 3px;
  border: 1px solid #ffffff30;
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: auto;
  grid-template-areas:
    'planet-attributes planet-name'
    'planet-attributes planet-description'
    'planet-attributes planet-image';
}

.planet-card-child {
  margin: 0.5rem;
}

.planet-card .planet-name {
  font-size: 1.4em;
  letter-spacing: +0.2em;
  grid-area: planet-name;
}

.planet-card .planet-attributes {
  padding-right: 0.5rem;
  border-right: 1px solid #ffffff30;
  grid-area: planet-attributes;
}

.planet-card .planet-description {
  grid-area: planet-description;
}

.planet-card .astraea-canvas-container {
  display: block;
  border-radius: 10px;
  max-width: 10rem;
  max-height: 10rem;
  min-width: 192px;
  grid-area: planet-image;
}

.error-message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-message {
  color: red;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.pagination > li {
  padding: 0 0.5rem;
}

.pagination > li:hover {
  cursor: pointer;
}

.pagination > .active {
  border: 1px solid white;
  border-radius: 3px;
}
