* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #202030;
}

header, main {
  background-color: #e0d09010;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
}

h1 {
  text-align: center;
  color: #e0d090;
}

.summary-card-list {
  display: grid;
  grid-template: auto / repeat(4, 1fr);
  grid-gap: 1rem;
}

.summary-card {
  background-color: #e0d090;
  border-radius: 5px;
  padding: 0.5rem;
  padding-left: 1rem;
}

.summary-card-image {
  display: block;
  margin: 0 auto 1rem;
  border-radius: 20px;
  max-width: 10rem;
  height: auto;
}
