* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #202030;
  color: white;
}

header {
  padding: 1rem;
}

form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

form > div {
  display: flex;
  flex-direction: column;
}

main {
  padding: 1rem 5rem;
}

h1 {
  text-align: center;
  color: #e0d090;
}

input {
  max-height: 1.5rem;
}

.property-card-list {
  display: flex;
  flex-direction: column;
}

.property-card {
  margin: 0.5rem 0;
  background-color: #00000030;
  border-radius: 3px;
  border: 1px solid #ffffff30;
  display: flex;
  justify-content: space-between;
}

.property-card-child {
  margin: 0.5rem;
}

.property-card-image {
  display: block;
  border-radius: 10px;
  max-width: 10rem;
  max-height: 10rem;
}

.property-card-description {
  max-width: 60%;
}

.error-message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-message {
  color: red;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.pagination > li {
  padding: 0 0.5rem;
}

.pagination > li:hover {
  cursor: pointer;
}

.pagination > .active {
  border: 1px solid white;
  border-radius: 3px;
}
